
#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  }

canvas {
  border-radius: 12px;
  height: 1280 !important;
  width: 704 !important;
}

@font-face {
    font-family: monogram;
    src: url(monogram.ttf);
  }